/* src/app/globals.css */
@import "tailwindcss";
html, body { 
  height: 100%;
  background-image: url('/background.svg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

